# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data/output files
*.csv
*.tsv
*.log
*.out

# Environment/config
.env
*.sqlite3